.config/nvim/plugged/*
.config/configstore/firebase-tools.json
.config/configstore/update-notifier-firebase-tools.json
.config/heroku/config.json
.config/yarn/*
.config/base16-shell/*
.config/nvim/.netrwhist
.config/configstore/*
